@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: Open Sans, sans-serif;
}

h1 {
	font-size: 18px;
	margin: 10px 0px 10px 0px;
}

h2 {
	font-size: 15px;
	margin: 10px 0px 5px 0px;
}

h3 {
	font-size: 14px;
	margin: 5px 0px;
}

p {
	font-size: 13px;
	margin: 0px;
}